.chart rect {
fill: steelblue;
}

.chart text {
fill: white;
font: 10px sans-serif;
text-anchor: end;
}

.navbar {
    background-color: black;
}
.my-navbar-brand {
  color: white;
}

#player-names {
  border-size: 2px;
  border-radius: 1px;
  border-color: black;
}
